*{
	box-sizing: border-box;
	font-family: 'minecraftfont','Roboto', sans-serif;
}


@font-face {
    font-family: "minecraftfont";
    src: url(/public/fonts/1412/minecraftfont.eot);
    src: local("minecraftfont"), url(http://fontsforweb.com/public/fonts/1412/minecraftfont.ttf) format("truetype");
}

body{
	background-color: #eee;
}

.tools{
	display: flex;
	div{
		margin: 15px;
		text-align: center;
	}
	button{
		border: 0;
		min-width: 30px;
		height: 30px;
		border: 1px #777 solid;
		margin: 1px;
	}
}

.container{
	max-width: 720px;
	margin: 0 auto;
}

.editor{
	display: flex;
}

textarea {
	background: #ccc;
	font-size: 16px;
	width: 50%;
	height: 200px;
	//resize: vertical;
	padding: 10px;
	border: 1px #777 solid;
}
.output {
	
	padding: 10px;
	color: #fff;
	height: 200px;
	width: 50%;
	background-color: #eee;
	border: 1px #777 solid;
	border-left: 0;
	font-family: 'minecraftfont', 'Roboto', sans-serif;
	background: url(https://s-media-cache-ak0.pinimg.com/originals/0e/1f/c2/0e1fc2e0638e878d3ba8db495152164c.jpg);
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

.bgs{
	margin: 20px 15px;
	display: flex;
	justify-content: space-between;
	div{
		margin: 10px;
		flex-grow: 1;
		width: 100px;
		height: 60px;
		background-color: #000;
		background-size: cover;
		box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
	}
	.plains{
		background: url(https://dncache-mauganscorp.netdna-ssl.com/thumbseg/1006/1006445-bigthumbnail.jpg);
		background-size: cover;
	}
	.dirt{
		background: url(https://s-media-cache-ak0.pinimg.com/originals/0e/1f/c2/0e1fc2e0638e878d3ba8db495152164c.jpg);
		border: 3px #aaa solid;
	}
	.item{
		background-color: lighten(#110211,20%);
	}
}


// .main{
// 	margin: 15px;
// }
// .label {
// 	background: rgba(0, 0, 0, 0.5);
// 	color: #fff;
// 	width: 35%;
// 	text-align: center;
// 	margin: 0 auto;
// }

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}

$colors: #000 #00A #0A0 #0AA #A00 #A0A #FA0 #AAA #555 #55F #5F5 #5FF #F55 #F5F #FF5 #FFF;
@for $i from 1 through length($colors){
	.bg-#{$i} {
		background-color: nth($colors, $i);
		color: set-text-color(nth($colors, $i));
	}
}
@for $i from 1 through length($colors){
	.c-#{$i} {
		color: nth($colors, $i);
	}
}
